/*/////////////////
 Basics
//////////////////*/

body {
  box-sizing: border-box;
  background-image: url("../images/skeksis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-size: 1.1em;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  font-size: 1.1em;
}


/*/////////////////
 Header
//////////////////*/

.title {
  text-align: center;
  color: black;
  background-color: red;
  height: 100px;
  margin: 10px 10px 10px 16px;
  width: 335px;
  padding: 26px 10px 0px 10px;
}


.instructions {
  color: black;
  background-color: purple;
  padding: 30px 30px 50px 30px;
  margin: 10px 10px 10px 16px;
  height: auto;
  width: 400px;

}


#darkCrystal {
  text-align: center;
  background-image: url("../images/dark.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 39px 30px 9px 43px;
  margin: 10px;
  height: 100px;
  width: 200px;
  float: left;
}


.scoreKeeper {
  background-image: url("../images/thing.gif");
  background-size: inherit;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 30px 30px 20px 30px;
  margin: 10px;
  height: 100px;
  width: 100px;
  float: left;
}

.crystalContainer {
  clear: both;
  float: left;
  display: inline-flex;
  padding: 10px 10px;
  margin-bottom: 10px;
  width: 520px;
}

.crystalBox {
  clear: both;
  display: inline-block;
  color: lightblue;
  background-color: white;
  padding: 8px 34px 10px 30px;
  margin: 10px;
  height: auto;
}

.red {
  margin-left: 6px;
  background: purple;
  height: 75px;
  padding: 14px 20px 27px 20px;
}

.blue {
  background: purple;
  height: 75px;
  padding: 28px 20px 13px 20px;
}

.yellow {
  background: purple;
  height: 75px;
  padding: 20px;
}

.green {
  background: purple;
  height: 75px;
  padding: 20px;
}


#score {
  clear: both;
  color: purple;
  text-align: center;
  background-color: black;
  padding: 30px 30px 20px 30px;
  margin: 10px 10px 10px 16px;
  height: 100px;
  width: 75px;

}
